{% extends 'menu.html' %}

{% block content %}
    <h1>Список постов</h1>
    <ul>
        {% for post in page_obj %}
            <li>
                {{ post.title }} ({{ post.data }})
                <p>{{ post.post }}</p>
            </li>
        {% empty %}
            <p>Нет постов.</p>
        {% endfor %}
    </ul>
    <!-- показываем пагинатор -->
    <div class="pagination">
        <p>Страницы:</p>
        <ul>
            {% if page_obj.has_previous %}
                <li><a href="?page=1"><<</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li>{{ page_obj.number }}/{{ paginator.num_pages }}</li>
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li><a href="?page={{ paginator.num_pages }}">>>></a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
